doctype html
html
  head
    title= title
    meta(name='autor', content='Tomás Oliveira')
    meta(name='descricao', content='Teste de web')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    block content
